<!DOCTYPE html>
<html>
  <head>
    <title>:)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/clients">&larr; Back</a>
    <h1><%= doc.name %></h1>
    <a href="/clients/<%= doc._id %>/save">Save</a>
  </body>
</html>
