<!DOCTYPE html>
<html>
  <head>
    <title>:)</title>
      <!-- Foundation CSS framework (Bootstrap and jQueryUI also supported) -->
      <link rel='stylesheet' href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css'>
      <!-- Font Awesome icons (Bootstrap, Foundation, and jQueryUI also supported) -->
      <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
      <script src="/javascripts/jsoneditor.js"></script>
      <script src="/javascripts/jx.js"></script>
  </head>
  <body>
    <div class="row">
    	<div class="large-6 columns">
  		  <h1>Patient Tracker</h1>
  	  </div>
      <div class="large-6 columns">
        <a href="/saves">Saves</a> &bull; <a href="/clients">Clients</a>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h2>Clients</h2>
      </div>
    </div>
    <div class="row">
      <form method="POST" action="/clients/new">
      <div class="large-10 columns">
          <input type="text" name="name" placeholder="Enter new client name.." />
      </div>
      <div class="large-2 columns">
        <input class="button tiny" style="align-self:center;vertical-align:middle;" type="submit" name="submit" value="New User" />
      </div>
      </form>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <ul>
        <% docs.forEach(function (doc) { %>
          <li><a href="/clients/<%= doc._id %>"><%= doc.name %></a></li>
        <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
