<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<!-- Foundation CSS framework (Bootstrap and jQueryUI also supported) -->
		<link rel='stylesheet' href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css'>
		<!-- Font Awesome icons (Bootstrap, Foundation, and jQueryUI also supported) -->
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
		<script src="/javascripts/jsoneditor.js"></script>
		<script src="/javascripts/jx.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="row">
    	<div class="large-6 columns">
  		  <h1>Patient Tracker</h1>
  	  </div>
      <div class="large-6 columns">
        <a href="/saves">Saves</a> &bull; <a href="/clients">Clients</a>
      </div>
    </div>
  </div>
  </body>
</html>
